<<<<<<< HEAD
/*
  Welcome to Compass.
  In this file you should write your main styles. (or centralize your imports)
  Import this file using the following HTML or equivalent:
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

$taille: 25px

/* Mixin Border */
=borderF($taille)
 border: $taille solid black !important
   
body
 background: black
	
html
 background: white
 +borderF($taille)
 color: red
 
#content
 +borderF($taille) 

.container
=======
/*
  Welcome to Compass.
  In this file you should write your main styles. (or centralize your imports)
  Import this file using the following HTML or equivalent:
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

$taille: 25px

/* Mixin Border */
=borderF($taille)
 border: $taille solid black !important
   
body
 background: black
	
html
 background: white
 +borderF($taille)
 color: red
 
#content
 +borderF($taille) 

.container
>>>>>>> 7c65521e4c87adb26903467de32536bce2322b0b
 color: red