{% trans_default_domain 'FOSUserBundle' %}

{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
    Mot de passe déjà demandé - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="well col-md-6" >
        <p>{{ 'resetting.password_already_requested'|trans }}</p>
    </div>
{% endblock %}
